<% if (locals.emailSuccess){ %>
  <div class="success-message">
    Recipe has been sent to your email successfully! Remember to check your spam! <button class="close-success-message">X</button>
  </div>
<% } %>
<%- include('partials/header.ejs') %>

<div class="seatch">
  <h1 style="text-align: center;"><%= recipe.title %></h1>
  <div style="width: 100%; display: flex; justify-content: center;">
    <img style="max-width: 300px;" src="<%= recipe.image %>" alt="<%= recipe.title %>">
  </div>
  
  <p><%- recipe.summary %></p>
  <h2>Ingredients:</h2>
  <ul>
    <% recipe.extendedIngredients.forEach(ingredient => { %>
      <li><%= ingredient.original %></li>
    <% }) %>
  </ul>
  <p>Instructions:</p>
  <p><%- recipe.instructions %></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>


 
</script>
</body>
</html>

